<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
      <h1><%= title %></h1>
      <form class="message-form" method="POST" action="/new">
        <h1><% title %></h1>
        <p>Please enter a message</p>
        <input
          id="author"
          name="author"
          type="text"
          class="form-input"
          placeholder="Name"
          required
        />
        <textarea
          id="message"
          name="message"
          class="form-input"
          placeholder="Message..."
          type="text"
          required
        ></textarea>
        <button class="btn button" type="submit">Send</button>
        <a class="button cancel" href="/">Cancel</a>
      </form>
    </div>
  </body>
</html>
